{
  "plugins": ["@typescript-eslint"],
  "extends": ["airbnb-base", "airbnb-typescript", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "no-console": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off"
  }
}
